body {
    font-family: sans-serif;
    background-color: rgb(30, 189, 242);
    display: flex;
    align-items: center;
    justify-content: center;
}

#section {
    margin-top: 100px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    max-width: 500px; /* Limit maximum width */
    width: 90%; /* Set width to a percentage for responsiveness */
}

#password {
    padding: 10px;
    border: 2px solid lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow with opacity */
}

#inline {
    display: flex;
    justify-content: center;
}

.characters {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    justify-content: center;
    gap: 10px; /* Add gap between characters */
}

#b {
    text-align: center;
    height: 40px;
    width: 80px; /* Increase width for better touchability */
    border: 2px solid blue;
    padding: 10px;
    cursor: pointer; /* Add cursor pointer for better interaction */
}

#b p {
    margin: 0; /* Remove default margin of paragraphs */
}

#b:hover {
    background-color: black;
    color: wheat;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#btn{
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: lightblue;
    font-size: 20px;
    color: black;
}

/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
    #section {
        padding: 20px; /* Reduce padding on smaller screens */
    }

    #b {
        width: 60px; /* Adjust width for smaller screens */
        padding: 5px; /* Adjust padding for smaller screens */
    }
}
